.banner{
    padding: 150px 0;
    /* background: #212529; */
}
.banner h1,h2,h3,h4,h5,p,button{
    font-family: 'Raleway', sans-serif !important;

}
.resume-btn{
    background: var(--main-color) !important;
}
.mern{
    background: var(--main-color);
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 5px;
    
}