.banner{
    padding: 100px 0;
    background: #212529;
}
.banner h1,h2,h3,h4,h5,p,button{
    font-family: 'Raleway', sans-serif !important;

}
.resume-btn{
    background: #b73361 !important;
}
.mern{
    background: green;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 1px;
    border-radius: 5px;
}